src/main/xsd/logback_0.9.30.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="configuration" type="Configuration"/>
	<xsd:complexType name="Configuration">
		<xsd:sequence>
			<xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
		</xsd:sequence>
		<xsd:attribute name="scan" type="xsd:string" use="optional"/>
		<xsd:attribute name="scanPeriod" type="xsd:string" use="optional"/>
		<xsd:anyAttribute/>
	</xsd:complexType>
</xsd:schema>